<% if notice %>
  <div class="w3-panel w3-pale-green">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="w3-panel">
  <h1>Subreddits</h1>
  <%= link_to 'New Subreddit', new_subreddit_path, class: "w3-btn w3-blue-gray" %>
</div>

<App :subreddits="<%= @subreddits.to_json %>"></App>
